@import "./PaginationItemRender.media.scss";

.paginationPrev {
  margin-right: 35px;
  font-style: normal;
  font-size: 13px;
  line-height: 12px;
}

.paginationNext {
  margin-left: 35px;
  font-style: normal;
  font-size: 13px;
  line-height: 12px;
}
