@import "scss/main.scss";

.SubmitButton {
  color: #fff;
  width: 100%;
  height: $btn_input_height;
  background: #1890ff;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  font-style: normal;
}
