@import "scss/main.scss";

.selectBase {
  :global {
    .ant-select-selection {
      min-height: $btn_input_height !important;
      padding: 1.5rem 20px !important;
      color: #000 !important;
      border: 2px solid #e9e9e9;
      box-sizing: border-box !important;
      border-radius: 5px !important;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 160%;
      padding-left: 1rem;
    }

    .ant-select-selection__rendered {
      margin-right: 24px;
      top: -13px;
      margin-left: 0 !important;
    }
  }
}

.selectLabel {
  position: absolute;
  z-index: 1;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  top: -40px;
  left: 19px;
  padding: 0 10px;
  line-height: 14px;
}
