@import "scss/main.scss";

// For screen with size between 991px to 1199px
@media (max-width: map-get($grid-breakpoints,"xl")) {
}

// For screen with size between 767px to 991px
@media (max-width: map-get($grid-breakpoints,"lg")) {
  .TypographyTitle {
    :global {
      .pageHeaderTitle {
        font-size: 2.7rem;
      }
    }
  }
}

// For screen with size between 575px to 767px
@media (max-width: map-get($grid-breakpoints,"md")) {
  .TypographyTitle {
    :global {
      .pageHeaderTitle {
        font-size: 2.3rem;
      }

      .cardSubTitle {
        font-size: 22px;
      }

      .cardTitle {
        font-size: 24px;
      }
    }
  }
}

// For screen with size between 400px to 575px
@media (max-width: map-get($grid-breakpoints,"sm")) {
  .TypographyTitle {
    :global {
      .pageHeaderTitle {
        font-size: 2rem;
      }
    }
  }
}

// For screen with size between 0px to 400px
@media (max-width: 400px) {
  .TypographyTitle {
    :global {
      .pageHeaderTitle {
        font-size: 1.7rem;
      }

      .cardTitle {
        font-size: 1.5rem;
      }

      .cardSubTitle {
        font-size: 1.2rem;
      }
    }
  }
}

// Landscape mode
@media (max-height: 400px) {
}
