@import "scss/main.scss";

// For screen with size between 991px to 1199px
@media (max-width: map-get($grid-breakpoints,"xl")) {
}

// For screen with size between 767px to 991px
@media (max-width: map-get($grid-breakpoints,"lg")) {
  .list {
    scrollbar-width: none; /* Firefox 64 */
    -ms-overflow-style: none; /* Internet Explorer 11 */
    &::-webkit-scrollbar {
      /** WebKit */
      display: none;
    }
  }
}

// For screen with size between 575px to 767px
@media (max-width: map-get($grid-breakpoints,"md")) {
  .list {
    display: flex;
    flex-wrap: nowrap !important;
    flex-direction: row !important;
    overflow-x: auto !important;
    justify-content: flex-start !important;
  }

  .listItemLoader {
    margin: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  }
}

// For screen with size between 400px to 575px
@media (max-width: map-get($grid-breakpoints,"sm")) {
}

// For screen with size between 0px to 400px
@media (max-width: 400px) {
}

// Landscape mode
@media (max-height: 400px) {
}
