.cardContainer {
  padding: 2rem;
}

.progressTitleContainer {
}

.progressTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 149%;
  color: #47515f;
}

.progressSubTitleContainer {
  margin-top: 1rem;
}

.progressSubTitle {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  color: #47515f;
}

.progressBarContainer {
  margin-top: 1rem;
}
