@import "scss/main.scss";

// For screen with size between 768px to 992px
@media (max-width: map-get($grid-breakpoints,"lg")) {
}

// For screen with size between 576px to 768px
@media (max-width: map-get($grid-breakpoints,"md")) {
}

// For screen with size between 400px to 576px
@media (max-width: map-get($grid-breakpoints,"sm")) {
  .root {
    :global {
      .ant-collapse-header {
        padding: 1rem !important;
        margin-left: 0.5rem;
      }

      .ant-collapse-arrow {
        right: 2rem;
      }
    }
  }
  .collapsePanelHeader {
    span {
      font-size: 1em !important;
      max-width: 145px !important;
    }
  }
}

// For screen with size between 0px to 400px
@media (max-width: 400px) {
  .collapsePanelHeader {
    span {
      max-width: 145px !important;
      font-size: 1em !important;
    }
  }
}

// Landscape mode
@media (max-height: 400px) {
}
