// For screen with size between 992px to 1200px
@media (max-width: map-get($grid-breakpoints,"xl")) {
  .aboutAndExpertContainer {
    :global {
      .ant-row-flex {
        flex-direction: column;
      }
    }
  }

  .missionCreatorsListContainer {
    margin-top: 3vw;
  }

  .searchBarInput {
    input {
      max-width: 100px;
    }
  }
}

// For screen with size between 768px to 992px
@media (max-width: map-get($grid-breakpoints,"lg")) {
  .missionViewRoot {
    :global {
      .missionTabs {
        width: 100%;
      }
    }

    .searchResultsView {
      padding: 5vh 0vw !important;

      :global {
        .ant-page-header {
          position: absolute !important;
        }
      }
    }
  }

  .searchBarInput {
    input {
      max-width: 90px;
    }
  }

  .missionPanel {
    margin-top: 0 !important;
    margin-right: 0 !important;

    .creatorsListColumn {
      :global {
        .avatarContainer {
          max-width: 70px;
        }
      }
    }
  }

  .contentRequestsWrapper {
    :global {
      .verticalLine {
        right: -3rem;
      }
    }
  }

  .missionImageContainer {
    display: none;
  }

  .missionInfoSubContainer {
    max-width: 700px;
  }

  .missionHeaderContainer {
    height: 450px;
  }
}

// For screen with size between 576px to 768px
@media (max-width: map-get($grid-breakpoints,"md")) {
  .aboutAndExpertContainer {
    margin: 3vw 8vw;
  }

  .missionMainContent {
    margin: 0 !important;

    :global {
      .ant-tabs-bar {
        flex-direction: column !important;

        input {
          border-radius: 0 !important;
          max-width: inherit;
        }
      }
    }

    .searchButton {
      display: none;
    }

    .missionSecondarySubtitle {
      margin-bottom: 1rem;
    }
  }

  .searchBarInput {
    input {
      font-size: 1rem;
    }
  }

  .missionHeaderContainer {
    height: 400px;
  }

  .missionHeaderLabel {
    margin-top: 0rem;
  }

  .recommendedContainer {
    margin-top: 2rem !important;
  }

  .missionDefaultViewContainer {
    margin: 0 !important;
    padding: 0 !important;
  }

  .aboutAndExpertContainer,
  .missionMainContent {
    margin-left: 0;
    margin-right: 0;
  }
}

// For screen with size between 0px to 576px
@media (max-width: map-get($grid-breakpoints,"sm")) {
  .smallScreenCardHeader {
    padding: 1rem 0 !important;
  }
  .smallScreenCardBody {
    padding: 2rem 0 !important;
  }
  :global {
    .ant-card-body {
      padding: 15px;
    }
  }
  .searchButton {
    display: none;
  }
  .searchBarInput {
    :global {
      input {
        font-size: 1rem;
        margin-left: 0;
      }
      .ant-input:placeholder-shown {
        font-size: 1.1rem !important;
        padding: 0;
      }
    }
  }

  .aboutAndExpertContainer {
    margin-bottom: 0;
    :global {
      .ant-collapse {
        background-color: var(--background-blue) !important;
        .ant-collapse-item {
          background-color: white;
          border: 0;
          margin-bottom: 3vw;
        }

        .ant-collapse-header {
          font-weight: 600;
          font-size: 1.5rem;
          padding: 1.6rem;
          padding-left: 2rem;

          .ant-collapse-arrow {
            right: 1.5rem;
          }
        }

        .ant-collapse-content {
          border: 0;
        }

        .ant-collapse-content > .ant-collapse-content-box {
          padding-top: 0;
          position: relative;
          top: -21px;
          padding: 1rem;
        }
      }

      .collapsePanelHeader {
        span {
          font-size: 1em !important;
          max-width: 145px !important;
        }
        img {
          height: 30px;
          margin-top: -3px;
        }

        .ant-collapse-header {
          padding: unset;
        }
      }
    }

    .missionSecondaryHeader {
      display: none;
    }
  }

  .missionHeaderContainer {
    height: 350px;
  }

  .missionInfoContainer {
    max-width: 100% !important;
    padding: 2rem;
  }
  .missionMainContent {
    margin-bottom: 0 !important;
  }
  s.aboutAndExpertContainerColumn {
    padding: 0;
    margin-left: 21px;
    margin-right: 21px;
    top: -27px;
    position: relative;
    box-shadow: none;
  }

  .missionSubBannerPoints {
    margin-top: 0 !important;
  }

  .missionSubBannerPoints {
    justify-content: flex-start !important;

    .missionSubBannerPoint {
      max-width: unset !important;
      margin-right: unset !important;
      width: 100%;
    }
  }

  .missionCreatorsList {
    justify-content: center;
  }

  .missionMainContent {
    border-radius: 0 !important;
    .missionSecondaryHeader {
      margin-top: 2rem;
      font-size: 1.6rem;
    }

    .missionSecondarySubtitle {
      margin-bottom: 1rem;
      font-size: 0.9rem;
    }
  }

  .recentlyAddedContainer {
    margin-top: 3rem;
  }

  .searchRoot {
    padding-right: 0;
  }

  .creatorsListWhiteCard {
    box-shadow: none !important;
  }

  .missionCreatorsListContainer {
    margin-top: 0;
  }
}

// For screen with size between 0px to 400px
@media (max-width: 400px) {
  .missionViewRoot {
    :global {
      .missionCreatorRow {
        padding: 8px 8px !important;
        padding-left: 12px !important;

        .ant-avatar {
          width: 40px !important;
          height: 40px !important;
        }
      }

      .ant-avatar-string {
        margin-top: 0px !important;
      }
    }
  }

  .missionPanel {
    .creatorsListColumn {
      :global {
        .avatarContainer {
          max-width: 45px;
        }
      }
    }
  }

  .contentRequestsWrapper {
    padding: 15px;
  }

  .searchResultHeader {
    font-size: 1.5rem !important;
  }

  .missionSecondaryHeader {
    font-size: 1.5rem !important;
  }

  .aboutAndExpertContainer {
    :global {
      .ant-collapse {
        .ant-collapse-header {
          font-size: 1.1rem;
        }
      }
    }
  }
}

// Landscape mode
@media (max-height: 400px) {
  .missionInfoContainer {
    max-width: 100% !important;
  }
}
