@import "assets/variables.scss";
@import "./RegisterCreator.media.scss";

:root {
  --brand-color: #61dafb;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  background-size: cover;
  background-color: #f8f9fe !important;
  justify-content: center !important;
}

.signUpRoot {
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  background: linear-gradient(180deg, #1890ff 0%, rgba(52, 60, 222, 0.85) 100%);
  width: 100vw;
}

.formWrapper {
  width: 65%;
  min-height: 100%;
  padding: 0 12.5% 0 17.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}

.signUpForm {
  max-width: 800px;
  min-width: 375px;
  margin-left: 50%;
  transform: translateX(-50%);

  :global {
    .backButton {
      margin-top: 1rem;
    }
  }
}

.registerCreatorSkillsCard {
  box-shadow: 4px 4px 8px 2px #d8dff0 !important;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  border-color: transparent !important;
  margin: 0;
  width: 90vw !important;
  padding: 20px !important;
  max-width: 600px !important;
}

.signupForm {
  margin: auto !important;
  padding: 0px !important;
  background-color: #fff !important;
  width: 100% !important;
}

.alertMessage {
  margin: 15px 0 !important;
}

.signupFormTitle {
  font-size: 24pt;
  font-weight: 600;
  letter-spacing: 0.4px;
  line-height: 1.5;
  text-align: center;
  color: #18405c;
}

.signupFormSubtitle {
  color: #677989;
  font-size: 14pt;
  text-align: center;
  margin: 10px;
}

.signupFormField {
  margin: 20px 0 !important;
  margin-bottom: 5px !important;
}

.skillFormItem {
  margin-bottom: 1rem !important;
}

.selectSkillRow {
  /* margin-bottom: 1rem; */
  display: flex;
}

.selectSkillInput {
  margin-right: 1rem;
}

.signupFormHalfSizeField {
  margin: 20px 0;
  width: 50%;
  float: left;
}
hr {
  margin: 1rem 0;
  border: 0.5px solid #d8dff0;
}
.signupFormCard {
  box-shadow: 4px 4px 8px 2px #d8dff0 !important;
  width: 500px !important;
}

.submitButton {
  margin-top: 2rem;
  font-weight: bold !important;
  border-width: 0px !important;
  color: #fff !important;
  font-size: 11pt !important;
  width: 100% !important;
  height: 40px !important;
  border-radius: 22.5px !important;
  box-shadow: 0 1px 3px 0 rgba(162, 199, 234, 0.32) !important;
  background-image: linear-gradient(to left, #54c1ff, #4da7ff) !important;
}

.redirectButton {
  width: 100%;
  text-align: right;
}

.headerImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.signupFormRow {
  width: 100%;
}

.signupFormColumn {
  overflow: hidden;
  width: 40%;
}

.signupViewGridArea {
  height: 100%;
}

.signupViewGridRow {
  width: 100% !important;
  padding: 0 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 13%;
}

.navbarContainer {
  width: 100%;
  padding-right: 100px;
}

.signupViewLeftSideContent {
  width: 50%;
  float: left;
  padding: 0 3%;
}

.signupViewRightSideContent {
  float: right;
  width: 50%;
  padding: 0 3%;
}

@media (min-width: 414px) {
  .signupFormCard {
    padding: 40px !important;
  }
}

@media (min-width: 550px) {
  .signupFormCard {
    width: 450px !important;
    padding: 50px !important;
  }
}

.signUpFooter {
  display: flex;
  justify-content: space-between;
}

.submitSignupFormButton {
  font-weight: 600 !important;
  border-width: 0px !important;
  color: #fff;
  font-size: 11pt !important;
  width: 100%;
  height: 40px !important;
  letter-spacing: 0.3px;
  background-image: linear-gradient(to left, #54c1ff, #4da7ff) !important;
}

.divResumeUpload {
  display: flex;
  flex-direction: column;
}

.formCardTitle {
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
  line-height: 28px;
  color: #344248;
}

.formCardSubTitle {
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 15px;
  color: #151515;
  opacity: 0.5;
}

.thirdPartyAuthContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.signUpFormFooter {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
  font-style: normal;
  display: flex;
  align-items: center;
  color: #4d595e;
  margin-top: 40px;
  margin-bottom: 1rem;
}

.alreadyHaveAccountText {
  margin: 0.5rem 0;
}
