$link_color: #0264bf;
$box-shadow: #e5e9f2;
$divider-color: rgba(0, 0, 0, 0.2);

$grey-light: #f0f3f9;
$grey-dark: #c5c5c5;

$bg-primary: #f5f7fb;

// Font
$font--black: #000000;
$font--dark-grey: #47515f;
$font--grey: #686f7b;
$font---blue: #1890ff;

// Icons
$icon--purple: #8490f6;
$icon--green: #40d3b2;
$icon--gold: #f9e26e;
$icon--pink: #f76eab;

// Buttons
$button--blue: #1890ff;
$button--light-blue: #e8f4ff;

// Background
$background--light-blue-grey: #f5f7fb;
$background--blueish-purple: #8856e9;
$background--faded-light-blue: #e8f4ff;
