@import "assets/variables.scss";

.myContentRoot {
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.myContentActionButtons {
  position: absolute;
  right: 2rem;
  top: 3rem;
}

.contentTableCreatorName {
  display: inline-block !important;
  float: left !important;
}

.contentTableCreatorAvatar {
  display: inline-block !important;
  float: left !important;
}
.uploadStepTextWrapper {
  margin-top: 30px;
}
.greyUploadArea {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
  border: none !important;
  background-color: #ebebeb;
}
.uploadStepSelectFileBtn {
  margin-top: 30px;
}
.uploadStepSelectFileBtn:hover {
  background-color: #065fd4;
}
.rightHandSectionCard {
  margin: 10px 0;
  padding: 2rem;
  padding-top: 0;

  :global {
    .ant-card-head {
      border-bottom: 0;
      font-size: 500;
    }
  }
}
.ant-upload.ant-upload-drag {
  border: none !important;
}

.contentTableThumbnailImage {
  width: 160px !important;
  height: 72px !important;
  object-fit: cover !important;
}

.contentTableHeaderText {
  vertical-align: center !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
  font-size: 15pt;
  font-weight: 600;
}

.myContentActionButton {
  margin: 0 5px;
}

.pageHeader {
  margin-top: 20px !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  background-color: transparent !important;
  background: transparent !important;
}

.pageHeaderSubtitleText {
  font-size: 13pt;
  margin: 0 !important;
  padding: 0 !important;
}

.myContentTable {
  margin-top: 1rem;
}
