@import "assets/variables.scss";

:global{
  .grid{
    margin: 0 !important;
  }

}
.creatorNotificationsRoot {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contentTableCreatorName {
  display: inline-block !important;
  float: left !important;
}

.contentTableCreatorAvatar {
  display: inline-block !important;
  float: left !important;
}

.rightHandSectionCard {
  margin: 10px 0;
}

.contentTableThumbnailImage {
  width: 90px !important;
  height: 60px !important;
  object-fit: cover !important;
}

.contentTableHeaderText {
  vertical-align: center !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
  font-size: 15pt;
  font-weight: 600;
}

.myContentActionButton {
  margin: 0 5px;
}

.pageHeader {
  margin-top: 20px !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  background-color: transparent !important;
  background: transparent !important;
}

.notificationListItem {
  width: 100%;
  margin: 0 !important;
}

.notificationListItemMessage {
  padding: 0 !important;
  margin-left: 5px;
  margin-top: auto;
  margin-right: 10px;
  margin-bottom: auto;
  vertical-align: middle;
}

.notificationListItemDate {
  text-align: right;
  margin-left: 1rem;
}

.notificationListItemButtonContainer {
  float: right;
}

.notificationListItemGrid {
  flex: 1;

  :global {
    .ant-avatar-string {
      transform: scale(1) translateX(-50%) translateY(-5px) !important;
    }

    .ant-avatar {
      i {
        transform: translateY(-3px);
      }
    }
  }
}
